@import "../../../styles/variables";

.header {
    position: relative;

    background: transparent;

    nav {
        padding-top: 0rem;
        padding-bottom: 0.5rem;

        box-shadow: 0 4px 2px -2px gray;
    }
}