@import '../../../../styles/variables';

.notify {
    position: absolute;
    z-index: 2;
    top: 0rem;
    visibility: hidden;

    opacity: 0;
    transition:  visibility 300ms, opacity 300ms linear;

    p {
        color: $light;
        font-size: $font-med;
        text-align: center;
    }

    &__container {
        display: table;
        height: 3rem;
        width: 25rem;
        margin-bottom: 1.5rem;
        padding: 0.1rem 0.5rem;
    
        border-radius: 5px;
    
        &__success {
            background: linear-gradient(to right, $leaf, $banana);
        }

        &__error {
            background: linear-gradient(to right, $deep, $jerry);
        }
    }
}