@import "../../styles/variables";

.header {
    background: transparent;
    position: relative;

    transition: all 400ms ease-in-out;
    
    
    &:first-child::before {
        content: "";
        position: absolute;

        width: 100%;
        height: 0.6rem;
        z-index: 1;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        top: 0;
    }

    nav {
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
        
        background: transparent;
        transition: all 400ms ease-in-out;
    }

    &__nav__light {
        box-shadow: 0 4px 2px -2px gray;
    }

    &__nav__dark {
        box-shadow: 0 4px 2px -2px white;
    }

    &__light {
        background: $light;
    }

    &__dark {
        //position: relative;
        background: #3a6186;
        background: -webkit-linear-gradient(to right, #3a6186, #89253e);
        background: linear-gradient(to right, #3a6186, #89253e);
        //background: linear-gradient(to right, $violet, $ocean);
    }

    &__button {
        div {
            margin-right: 3rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            position: relative;
            display: inline-block;
            padding: 0 1.1875rem 0.2rem 1.1875rem;

            font-size: $font-lg;
            font-weight: 400;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.09em;

                opacity: 0;
                transition: opacity 300ms, transform 300ms;
            }

            &:hover::after,
            &:focus::after {
                opacity: 1;
                transform: translate3d(0, 0.2em, 0);
            }
        }

        &__light {
            color: $black;

            &::after {
                background-color: $black;
            }
        }

        &__dark {
            color: $light;

            &::after {
                background: $light;
            }
        }
    }

    &__toggle {
        cursor: pointer;
        transition: all 300ms ease-in-out;
        
        &:hover {
            transform: scale(1.2);
        }
    }
}

.toggle__dark {
    color: $light;
}
