@import "../variables";

//  Header style.
.header {
    position: relative;

    background-color: $light;
    box-shadow: 0 4px 2px -2px gray;
    transition: all 400ms ease-in-out;

    //  header__dark.
    &__dark {
        background-color: $dark;
        background-image: linear-gradient(340deg, #0cbaba 0%, $dark 60%);
        box-shadow: 0 4px 2px -2px white;
    }

    // first-line header.
    &:first-child::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.6rem;
        top: 0;
        z-index: 1;

        background: linear-gradient(to right, $limeGreen, $brightCyan);
    }

    //  Navigation style.
    nav {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;

        background: transparent;
        transition: all 400ms ease-in-out;
    }
}

//  Toggle.
.toggle {
    cursor: pointer;

    //  toggle__dark.
    &__dark {
        color: $light;
    }
}

//  Button.
.button {
    position: relative;

    //  a.
    a {
        position: relative;
        display: inline-block;
        padding-left: 1.1875rem;

        font-size: $font-med;
        font-weight: 400;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 9px;
            width: 100%;
            height: 0.09em;

            opacity: 0;
            transition: opacity 500ms, transform 500ms;
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.3em, 0);
        }
    }

    //  button__light.
    &__light {
        color: $black;

        &::after {
            background-color: $black;
        }
    }

    //  button__dark.
    &__dark {
        color: $light;

        &::after {
            background: $light;
        }
    }
}
