// Import modules.
@import "variables";

// html.
html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// inherit from html.
*,
*::before,
*::after {
    box-sizing: inherit;
}

// body.
body {
    //  Properties.
    margin: 0;
    padding: 0;

    // Attributes.
    background: $light;
    font-family: 'Playfair Display', serif;
    font-size: $font-sm;
    font-weight: 300;
    line-height: 1.3;
}

// a link.
a,
a:visited,
a:hover {
    text-decoration: none;
}

// Container.
.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &-pall {
        padding-top: 4.375rem;
        padding-right: 1.5rem;
        padding-bottom: 4.375rem;
        padding-left: 1.5rem;
    }
}

// Flex.
.flex {
    display: flex;

    &-d-c {
        flex-direction: column;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}
